<!DOCTYPE html>
<!--

If you're offline and you know it clap your hands!

-->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ page.root_path }}assets/normalize.css">
  <link rel="stylesheet" href="{{ page.root_path }}assets/styles.css">
</head>
<body>
  <div class="container">
    <div class="content" role="main" aria-label="Content">
      {{ content }}
    </div>
  </div>
  <script src="{{ page.root_path }}assets/script.js"></script>
  <script>
  ((window.gitter = {}).chat = {}).options = {
    room: 'welcome-to-open-source/Lobby'
  };
  </script>
  <script src="https://sidecar.gitter.im/dist/sidecar.v1.js" async defer></script>
</body>
</html>
